.home {
  text-align: center;
  font-family: Arial, sans-serif;
}

section h2 {
  font-size: 2.5em;
  font-weight: bold;
  color: #5a6e60;
  padding: 10px;
  text-shadow: 3px 7px 6px rgba(180, 180, 180, 0.479), 0 0 25px rgba(150, 150, 150, 0.5);
  border-top: 4px solid #efb1a9;
  border-bottom: 4px solid #efb1a9;
}

.card-img-top {
  width: 95%;
  height: auto;
  max-height: 400px;
  border-radius: 8px;
}


.row {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.col-md-4 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
